{{# if credentials}}
  {{#each resources}}
   <section class="resources" style="display:inline-block">
     <h3 class= "resource_title">{{this.title}}</h3>
     <a class ="resource_btn" href={{this.url}}>Visit this resource</a><br>

     <a class ="resource_btn" href='/create-review/{{this.endpoint}}'>Write review</a><br>
     <a class ="resource_btn" href="/edit-resource/{{this.endpoint}}">Edit</a><br>
    </section>
  {{/each}}
{{else}}
{{#each resources}}
 <section class="resources" style="display:inline-block">
   <h3 class= "resource_title">{{this.title}}</h3>
   <a class ="resource_btn" href={{this.url}}>Visit this resource</a><br>
   
   <p>Login/register to add a review</p>
  </section>
{{/each}}
{{/if}}
