{{#each resources}}
  <section class="resources">
   <h3 class= "resource_title">{{this.title}}</h3>
   <a class ="resource_btn" href={{this.url}}>Visit this resource</a>
  <section style="display:inline-block">
   <h3>{{this.title}}</h3>
   <a href={{this.url}}>Visit this resource</a>
   <a href='/create-review/{{this.endpoint}}'>Write review</a>
  </section>
{{/each}}
