<h2>Reviews by {{username}}</h2>

{{#each reviews}}

  <section class="reviews">
    <h3 class="reviews_title">Review of <a href="{{this.url}}">{{this.title}}</a></h3>
    <p>Rating: {{this.rating}}</p>
    <p>{{this.content}}</p>
  </section>

{{/each}}
